html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    -ms-box-align: middle;
    -ms-box-orient: vertical;
    -ms-box-pack: center;
    display: -ms-box;
    height: 100%;
    direction: rtl;
}

.fixedlayout {
    -ms-grid-columns: 25% 75%;
    -ms-grid-rows: 15% 85%;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    padding: 15px 10px 0 0;
}

#routesList {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    min-height: 300px;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #fff;
}

#routesList li {
    font-size: 16px;
    line-height: 1.5em;
    padding: 15px 10px;
    border-bottom: 1px solid #fff;     
    background-color: #222;
    -ms-transition: background-color 500ms;
}

#routesList li:hover,
#routesList li.active {
    -ms-transition: background-color 1s;
    cursor: pointer;
    background-color: #333;        
}

#mapContainer {
    -ms-grid-column: 2; 
    -ms-grid-row: 2;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
